#应用
APP_HOST=127.0.0.1
APP_PORT=3106
APP_SSL=false
APP_TIMEZONE=Asia/Shanghai
APP_LOCAL=zh-cn

#Open API
API_TITLE=Miint
API_DESCRIPTION=Miint
API_DEFAULT_VERSION=v1

#数据库
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=12345678
DB_NAME=miint

SMTP_HOST=smtp.qq.com
SMTP_USER=pincman@qq.com
SMTP_PASSWORD=punhkunnnlxjdibj
SMTP_SSL=true
SMTP_FROM=pincman<pincman@qq.com>

SUPER_ADMIN_USERNAME=pincman
SUPER_ADMIN_PASSWORD=123456aA$

GOOGLE_CLIENT_ID=752039761691-u2pus6f8gq0uv9g9cmpglklicbv57s0i.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
APP_URL=http://localhost:3106
