#应用
APP_HOST=127.0.0.1
APP_PORT=3106
APP_SSL=false
APP_TIMEZONE=Asia/Shanghai
APP_LOCAL=zh-cn

#Open API
API_TITLE=Miint
API_DESCRIPTION=Miint
API_DEFAULT_VERSION=v1

#数据库
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=miint